*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: $font-size-sm;
    color: $color-text;
}

html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

input,
button,
textarea,
select {
    -webkit-appearance: none;
    appearance: none;
}
